<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <style>
        body {
            display: flex;
            justify-content: space-around;
        }

        .data-table {
            width: 50%;
        }

        .add-item-form {
            width: 40%;
        }

        .delete-link {
            margin-left: 10px;  
	}
    </style>
</head>
<body>
    <div class="data-table">
        <h1>Lista Gier</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.price }}</td>
			<td><a class="delete-link" href="{{ url_for('delete_item', id=row.id) }}">Usuń</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="add-item-form">
        <h1>Dodaj nową grę</h1>
        <form method="POST" action="{{ url_for('add_item') }}">
            {{ form.hidden_tag() }}
            <label for="name">Nazwa:</label>
            {{ form.name() }}
            <br>
            <label for="price">Cena:</label>
            {{ form.price() }}
            <br>
            {{ form.submit() }}
        </form>
    </div>

</body>
</html>

